<% @page_title = "Undescribed recommendations" %>
<h1><%= @page_title %></h1>

<p>There <%= pluralize_verb_noun(@recommendations.size, "recommendation") %> with no description added:</p>

<ul class="recommendations">

<% for recommendation in @recommendations %>
  <li><%= link_to h(recommendation.name), recommendation_path(recommendation) %></li>
<% end %>
</ul>