<%= title("Tags") %>

<ol>
<% for tag in @tags %>

	<li><%= link_to(h(tag.name), tag_path(tag.name))%> (<%=tag.taggings.size%>)</li>

<% end %>
</ol>

<p>See also <%= link_to "untagged recommendations", untagged_recommendations_path %>.</p>